@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,800&display=swap');
html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

article {
    line-height: 1.7;
    color: rgb(65, 65, 65);
    
}
article h2 {
    color: #2bbc8a;
    letter-spacing: 0.01em;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    
  
}
article h1 {
    text-align: center;
}
article a {
    text-decoration: none;
    color: #006ebb;
    font-weight: 600;


}
article a:hover{
    text-decoration: underline;
}
.navbar {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #008cee;

}
.navbar a {
    text-decoration: none;
    padding:10px;
    color: #ffffff;
    font-weight: 600;
}
.posts{
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #0096ff;
    
    box-shadow: 5px 6px 0px #0096ff;
}
/*background: #0096ff;*/
.readmore{
    border: 2px solid transparent;
    border-radius: 3px;
    text-align: left;
    
    letter-spacing: 1px;
   
    
}
.readmore a {
    color: #3d74d8;
    font-weight: bold
}
.readmore a:hover {
    text-decoration: none;
}


.date-post{
    font-size: 15px;
    color: #333333;
    font-weight: 300;
    display: flex;
    align-items: center;
}
.date-post i {
    padding: 5px;
}

.post-info{
    font-size: 14px;
    
}
.titles{
    overflow: hidden;
    text-align: center;
}
.titles h1, h2 {
    color: #003166;

}

.list-tc {
    
    list-style: none;
}
.list-tc li {
    padding: 3px;
}
.list-tc li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    padding: 2px;
  
}
.badge{
    padding: .10em .5em;
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #4470ff;
    border-radius: .25rem;
}
/* color: #ff570a ;*/
.linkstags a{
    font-weight: 600;
    color: #39739d;
    background-color: #e1ecf4;
    border-color: #e1ecf4;
    border-radius: 5px;
    padding: 2px;
    
}



@media (max-width: 480px){
    .content {
        display: flex;
        flex-direction: column;
    }
    .date-post{
    font-size: 13px;
    }
    .posts {
        border-radius: 0;
    }
    .postread {
        margin: 10px;
    }
    footer {
        display: flex;
        flex-direction: column;
        font-weight: 700;
    }

    
}