
{% macro meta(page) %}
    <div class="post-info">
    <span> Tempo de leitura: <i class="far fa-clock"></i> {{ page.reading_time }} minutos</span>
    <i class="fas fa-pen"></i>
    {% if page.date %}Publicado em: {{ page.date | date(format="%d/%m/%Y") }}{% endif %}
</div>
{% endmacro meta %}

{% macro page_in_list(page) %}
    
    <article itemscope itemtype="http://schema.org/CreativeWork">
        <header>
            
            <h2  itemprop="name">
               
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                <span class="date-post">
                    <i class="fab fa-readme"></i>{{ page.reading_time }} minutos -
                    <i class="fas fa-pen"></i>{% if page.date %}Publicado em: {{ page.date | date(format="%d/%m/%Y") }}{% endif %}

                </span>
            </h2>
            
            
        </header>
        {% if page.summary %}
            <div itemprop="summary">
                {{ page.summary | safe }}
                <nav ><a class="readmore" itemprop="url" href="{{ page.permalink | safe }}">Ler mais <i class="fas fa-arrow-right"></i></a></nav>
            </div>
        {% endif %}
    </article>
    
{% endmacro page_in_list %}
